* {
	border: 1px solid black;
	padding: 5px;
}

block {
	display: block;
	margin: 40px 20px;
	padding: 10px 5px;
	background-color: #eee;
}

inline-block {
	display: inline-block;
	margin: 40px 20px;
	padding: 10px 5px;
	background-color: #ddd;
}