* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green {
    background-color: greenyellow;
}

.width {
    display: block;
    width: 300px;
    height: 250px;
}

.border {
    border: 2px solid green;
}

.shadow {
    box-shadow: 10px 10px 5px #eee;
}

.float {
    float: right;
}

.all {
    display: block;
    width: 300px;
    height: 250px;
    float: right;
    background-color: greenyellow;
    border: 2px solid green;
}


}