* {
	border: 1px solid black;
	padding: 5px;
}

parent {
	display: inline-block;
	margin: 0px;
	padding: 100px 50px;
	background-color: #eee;
}

child {
	display: block;
	margin: 100px 0px;
	padding: 20px 100px 150px 50px;
	background-color: #ddd;
}