/* reset */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	display: block;
	min-width: 600px;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	--header-height: 50px;
	--footer-height: 50px;
	
}


/* structure */

.header {
	display: block;
	/* we must describe everything included what would already specified in the element */
	height: var(--header-height);
}

.site-id {
	display: block;
	position: relative;
	top: calc(50% - 12px);
	float: left;
	padding: 0 20px;
	font-size: 1.2em;
}

.menu {
	display: block;
	position: relative;
	top: calc(50% - 10px);
	float: right;
	padding: 0 20px;
}

.menu-item {
	display: inline-block;
	margin: 0 15px;
	padding: 0 5px;
}

.body {
	display: block;
	height: calc(100% - var(--header-height) - var(--footer-height));
}

.jumbo {
	display: block;
	padding: 10%;
}

.jumbo .text {
	font-size: 2em;
}

.center {
	text-align: center;
}

.jumbo .buttons {
	display: block;
	margin: 50px;
}

.jumbo .btn {
	display: inline-block;
	padding: 10px;
	border: 1 solid black;
	font-size: 1.5em;
}

.footer {
	display: block;
	height: var(--footer-height);
	text-align: center;
}

.copyright {
	display: inline-block;
	line-height: var(--footer-height);
}