* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue,
.green,
.yellow {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.blue {
    float: left;
    background-color: lightblue;
}

.yellow {
    float: right;
    background-color: lightgoldenrodyellow;
}

.green {
    background-color: lightseagreen;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}