html,
body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

div {
	margin: 30px;
	padding: 10px 60px;
	height: 25px;
	background-color: #eee;
}

black {
	display: block;
	width: 100%;
	height: 2000%;
	background-color: black;
}