html,
body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	margin: 5px;
	padding: 3px;
}

h1-section section {
	background-color: hsl(0, 100%, 95%);
}

h1-section[child] section {
	background-color: hsl(120, 100%, 95%);
}

h3 {
	border-top: 1px solid #aaa;
}

parent {
	display: flex;
	background-color: lightgray;
}

parent>child {
	display: block;
	background-color: black;
	color: white;
}

parent[ex2] {
	flex-direction: row-reverse;
}

parent[ex3] {
	flex-direction: column;
}

parent[ex4] {
	flex-direction: column-reverse;
}

wrap parent>child {
	width: 500px;
}

parent[ex5] {
	flex-wrap: nowrap;
}

parent[ex6] {
	flex-wrap: wrap;
}

parent[ex7] {
	flex-wrap: wrap-reverse;
}

parent[ex8] {
	flex-flow: row-reverse wrap-reverse;
}

align-content parent {
	flex-flow: row wrap;
	width: 30px;
	height: 200px;
}

[flex-shrink] child {
	flex-basis: 500px;
}
