body, html {
    font-size: 100%;
}

@media (min-width: 48rem) {
    .mobile {
        display: none !important;
    }
}

@media (max-width: 48rem) {
    .desktop {
        display: none !important;
    }
}

.menu {
    display: block;
}

.menu-item {
    display: inline-block;
    background-color: hsl(0, 100%, 80%);
    margin: 0 0.5rem;
    padding: 0.5rem;
    font-size: 2.5em;
}

.fa {
    font-size: 3em;
}