*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0.5rem;
    font-size: 2rem;
}

select {
    margin: 0.5rem;
}

.container {
    display: block;
    padding: 0.5rem;
    border: 1px solid black;
}

.float-left,
.float-right {
    width: 250px;
    height: 250px;
    margin-right: 1em;
}

.float-left {
    float: left;
    background-color: lightblue;
}

.float-right {
    float: right;
    background-color: lightgoldenrodyellow;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* .container::after {
    content: "";
    display: table;
    clear: both;
} */