* {
	border: 1px solid black;
	padding: 5px;
}

block {
	display: block;
}

float-left,
float-right {
	display: block;
	width: 100px;
	height: 30px;
	opacity: 0.5;
}

float-left {
	float: left;
	background-color: #eee;
}

float-right {
	float: right;
	margin: 10px;
	background-color: #ddd;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

b {
	border: none;
}