.classic {
	--main-bg-color: #eee;
	--main-color: black;
	--footer-bg-color: #aaa;
	color: var(--main-color);
	--font-family: Arial, Helvetica, sans-serif;
	font-family: var(--font-family);
}

.classic .header {
	background-color: var(--main-bg-color);
}

.classic .header a {
	text-decoration: none;
	color: var(--main-color);
}

.classic .site-id {
	font-weight: bold;
}

.classic .footer {
	background-color: var(--footer-bg-color);
}

.classic .jumbo .btn {
	border-color: black;
}

.classic .btn {
	background-color: #eee;
	text-decoration: none;
	color: var(--main-color);
	cursor: pointer;
}

.classic .title {
	display: block;
	margin: 10px 0px 30px;
}

.classic .paragraph {
	display: block;
	margin: 10px 0;
}

.classic .select {
	display: inline-block;
	padding: 3px;
	border: 1px solid black;
	font-size: 1em;
}

.classic .option {
	background-color: hsl(0, 0%, 98%);
}

.critical {
	color: red;
}

.success {
	color: green;
}